@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 22px;

    @apply text-romansilver;
}

header{
    @apply bg-aliceblue;
}

.header--register{
    @apply bg-white;
}

footer{
    @apply bg-white;
}

.footer--home{
    @apply bg-aliceblue;
}



header picture svg{
    width: 100%;
}

.footer__home{

}

h1{
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 2rem;

    @apply text-raisinblack;
}

h2{
    font-size: 24px;
    line-height: 30px;

    @apply text-raisinblack mb-4 font-bold;
}

.cta__primary{
    font-size: 20px;
    text-align: center;
    background: transparent linear-gradient(98deg, #0673BA 0%, #035082 100%) 0% 0% no-repeat;
    transition: all .2s ease-out;
    transition-duration: .2s;
    transition-property: transform,opacity,visibility,background-color,color,box-shadow;
    transition-timing-function: ease-out;

    @apply inline-block rounded-full font-bold text-white p-4 px-10;
}

.cta__secondary{
    font-size: 15px;
}

.cta__primary:hover,
.cta__secondary:hover{
    opacity: 0.85;
}

.price{
    padding-left: 3.5rem;
    padding-top: 0.5rem;
    position: relative;
}

.price:before{
    content: '';
    position: absolute;
    display: block;
    background-image:URL('img/arrow.svg');
    background-repeat: no-repeat;
    background-size: 31px 53px;
    width: 31px;
    height: 53px;
    top: -1rem;
    left: 1rem;
}

.dropdown,
.dropdown__ui{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown__trigger{
    position: relative;
    width: 100%;
    height: 4.5rem;
    padding: 1rem 0rem 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @apply text-raisinblack;
}

.dropdown__trigger-text{
    line-height: 1.3;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown__trigger svg{
    width: 0.8rem;
    right: 0;
    margin-left: 0.5rem;
}

.dropdown__options{
    position: absolute;
    width: 10rem;
    top: 3rem;
    text-align: right;
    font-size: 18px;
    padding: 0.5rem;
    right: 0;
    transform: scale(.9) translate3d(-50%,-1.5rem,0)!important;
    transition-duration: .2s;
    transition-property: width,height,padding,margin,transform,border,color,background,box-shadow,opacity,visibility;
    transition-timing-function: ease-out;
    height: 0;
    transform-origin: 50% 0;
    transform: scale(.75) translate3d(0,-1.5rem,0);
    opacity: 0;
    visibility: hidden;
    box-shadow: none;
}

.dropdown--active .dropdown__options{
    transform: scale(1) translate3d(0,0,0)!important;
    visibility: visible;
    opacity: 1;
    background-color: #fff;
    height: auto;
    box-shadow: 0 0.7rem 2rem rgb(0 0 0 / 15%);
}

form label{
    display: block;
}

form input[type='text'],
form input[type='password'],
form input[type='email'],
form input[type='number'],
form select,
form select[multiple],
form textarea{
    box-shadow: 0px 3px 26px #0000001D;
    border-radius: 50px;
    margin-top: 1rem;
    border: none;
    width: 100%;
}

form button,
form .cta__primary{
    margin-top: 0.5rem;
}

table th{
    @apply bg-aliceblue;
}

table td{
    @apply text-raisinblack;
}

table img{
    width: 36px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: 2rem;
}

.confetti{
    background-image:URL('img/confetti.png');
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 768px) {

    body{
        font-size: 21px;
        line-height: 26px;
    }

    h1{
        font-size: 35px;
        line-height: 40px;
    }

    h2{
        font-size: 30px;
        line-height: 35px;
    }

    .cta__primary{
        font-size: 22px;
    }

    .cta__secondary{
        font-size: 18px;
    }
}

@media (min-width: 1024px) {

    h1{
        font-size: 44px;
        line-height: 50px;
    } 

    h2{
        font-size: 35px;
        line-height: 40px;
    }

}